.send-button {
            border: 2px black solid;
            border-radius: 8px;
            background-color: green;
            width: 100px;
            height: 52px;
            color: white;
            font-size: 20px;
           align-self: center;
        }
        .input-field {
            border: 2px black solid;
            border-radius: 8px;
            height: 50px;
            margin: 20px;
            padding: 5px;
            font-size: 20px;
            max-width: 1000px;
            flex-grow: 1;
        }

        .input-container {
            border: 2px black solid;
            display: flex;
            flex-direction: row;
            justify-content: center;
        }